# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*~
*.swp
*.inc
/pinyin-win
/ctest
/tests
*.stackdump
.deps
*.lo
*.la
CREDITS
EXPERIMENTAL
*.dsp

*.sdf
*.vcxproj
*.filters
*.user
/Release_TS
*.ipch
*.opensdf
*.suo
*.sln
*.ilk
*.obj
*.pch
*pdb
*.idb
*.ncb
*plg
*.dsw
*.opt